
.icon-layer-2:before { content: '\e800'; } /* '' */
.icon-mail-(3):before { content: '\e801'; } /* '' */
.icon-phone-(3):before { content: '\e802'; } /* '' */
.icon-facebook-(9):before { content: '\e803'; } /* '' */
.icon-instagram-(11):before { content: '\e804'; } /* '' */
.icon-menu-1:before { content: '\e805'; } /* '' */
.icon-phone-(3)-1:before { content: '\e806'; } /* '' */
.icon-heart-(11):before { content: '\e807'; } /* '' */
.icon-path-4:before { content: '\e808'; } /* '' */
.icon-path-5:before { content: '\e809'; } /* '' */
.icon-path-6:before { content: '\e80a'; } /* '' */
.icon-right-open-mini:before { content: '\e80b'; } /* '' */
.icon-right-open-big:before { content: '\e80c'; } /* '' */
.icon-left-open-big:before { content: '\e80d'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */